body{
    background-color: lightgreen;
}

.todo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10em auto;
    padding: 20px 10px;
    border: 3px solid rgb(36, 110, 194);
    width: 50vw;
    height: 50vh;
    background-color: peachpuff;
}

.todo-header{
    font-size: 50px;
    font-weight: 500px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(rgb(8, 65, 50), rgb(16, 8, 55));
}

.todo-pending{
    font-size: 30px;
    font-weight: 300px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(darkblue, rgb(59, 5, 14));   
}

.btn-remove{
    background-color: red;
    border: none;
    width: 30px;
}

.btn-complete{
    border: none;
    margin: 10px;
    height: 30px;
    width: 90px;
    background-color: transparent;
    background-image: radial-gradient( rgb(118, 118, 9), rgb(10, 79, 20));
    color: white;
text-align: center;
}
.create-Task{
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-Task input[type=text] {
    
    width: 250px;
    height: 30px;
    outline: none;
    border: none;
  
  }
  .create-Task button{
    background: rgb(12, 124, 251);
      border-radius: 5px;
      margin: 0px 5px;
      padding: 3px 5px;
      height: 30px;
      border: none;
      cursor: pointer;
      color: white;
      float: right;
  }